<%- include('partials/header'); -%>

<style>
img {height:350px; width:600px}
body{background-color:LightGreen}

header{
  display: flex;
  align-items: center;
  padding: 60px 300px;

}

</style>
<header >
  <div class="smoothie">

    <img src="https://assets-global.website-files.com/59d46c848021530001e0117b/5fd7f0d984ec5e3790d412a6_learning-management-system-essentials-hero.png" alt="">
  </div>
  <div class="headings">
    <h2>Learn while you go!</h2>
    <h3></h3>
    <a href="/index"  class="btn ">Explore Courses</a>
  </div>
</header>


<%- include('partials/footer'); -%>
