<%- include('partials/header'); -%>
<style media="screen">
  body{
    background-color:#ec8fff;
  },
  h1{
    color:#de1d1d;
  }
</style>


<ul class="recipes">
<div>  <h2 style=" color:#ffffff; font-size:30px; border-radius:36px; margin-top:200px; background-color:#2165db; justify-content:center; text-align:center; padding:10px"> Html: Part-1</h2></div>
  <li class="recipe">
    <a href="/" >
  <a class="jag"  href="/"><iframe width="560" height="315" src="https://www.youtube.com/embed/Rek0NWPCNOc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></a>
  <a href="/html_1"><button type="submit"  formaction="/update" class="btn btn-primary mx-3">Next</button></a>

  </li>
  <li class="recipe">
  <h6 style="margin-top:50px; padding:25px; justify-content:center">
HTML (HyperText Markup Language) is the most basic building block of the Web. It defines the meaning and structure of web content. Other technologies besides HTML are generally used to describe a web page's appearance/presentation (CSS) or functionality/behavior (JavaScript).</h6>

  </li>
</ul>

<%- include('partials/footer'); -%>
