<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://bootswatch.com/4/litera/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-5 mx-auto text-center py-4">
          <h2 class="text-center">Enter A Task</h2>
          <form method="POST" action="/add">
            <div class="form-group">
            <input type="text" class="form-control" name="task" id="task" placeholder="Enter A Task!!">
            </div>
            <div class="form-group">
              <input type="submit" class="btn btn-lg btn-success" value="Add">
            </div>
          </form>
        </div>
      </div>
      <!-- // -->
      <!-- // -->

      <% for(var tasks of data ){ %>
       <form action="/delete" method="post" class="form-inline my-3">
         <p><%= tasks.task%></p>
         <input type="hidden" name="id" value="<%= tasks._id%>">
         <% if(tasks.status){ %>

         <% }else{ %>
           <button type="submit"  formaction="/update" class="btn btn-primary mx-3">Mark Completed</button>
           <% } %>
           <button type="submit" class="btn btn-danger mx-3">Delete</button>
       </form>
      <% } %>
    </div>

  </body>
</html>
